/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}
img{
  width: 50%;
}

/* body{
  background: url(../img/cards.jpg);
} */