/* * {
    outline: 1px dotted black;
} */

/* External styling from: https://codepen.io/manikoth/pen/NNNBYe.css
 */
/* Doodle Stage */
#stage{
  /*   background: #ccc; */
    height: 300px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
  }
  #stage div{
  /*  background: coral; */
    height: 300px;
    width: 600px;
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    flex-direction: row;
  }
  
  /* PART 1 */
  svg{
    transform: scale(.7);
  }
  
  #g-low{
    position: relative;
    top: 30px;
  }
  
  #e{
    position: relative;
    top: 15px;
    margin-left: -20px;
    fill: #ea4335;
  }
  
  .d20{
    position: relative;
  }
  
  #nat20{
    fill: #ea4335;
    top: -200px;
    left: -300px;
  }
  #plain20 g, #plain20{
    fill: #fbbc05;
    top: 13px;
  }
  
  #pencil{
    transform: scale(.3);
    position: relative;
    bottom: 20px;
    margin-left: -16px;
  }
  
  #path{
    position: absolute;
    left: 70px;
    top: 85px;
  }
  
  /* PART 2 */
  #international{
    position: relative;
    top: 60px;
  }
  
  #tabletop-day, #international{
    fill: #3680bf;
    transform: scale(.6);
  }
  
  svg:not(:root) {
      overflow: visible;
  }
  
  
  #path{
    position: absolute;
    left: 70px;
    top: 85px;
  }